body {
  background: #0a0a0a;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  color: crimson;
}

.story {
  margin-bottom: 20px;
}

.symbols {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-width: 500px;
  margin: auto;
}

.symbols button {
  font-size: 32px;
  padding: 15px;
  background: #111;
  border: 2px solid #444;
  color: white;
  cursor: pointer;
}

.symbols button:hover {
  border-color: crimson;
}

#pilihan {
  margin-top: 15px;
  font-size: 16px;
  color: #ccc;
}

.cek {
  margin-top: 20px;
  padding: 10px 30px;
  background: crimson;
  border: none;
  color: white;
  cursor: pointer;
}

/* OVERLAY */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.95);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#overlay img {
  width: 220px;
}

#overlayText {
  margin-top: 15px;
  font-size: 20px;
  color: crimson;
}

